.random-colors-container {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#random-colors {
    width: 80%;
}


.arrow {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 15px;
}
