#red-slider {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(255,0,0));
}
#green-slider {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(0,255,0));
}
#blue-slider {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(0,0,255));
}

input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border-radius: 50px;
}

label {
  margin-left: 10px;
  width: 75px;
}

.picker {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 5px;
}
